@import "../styles/index.scss";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.widget-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  h2 {
    color: $white-color;
  }
  .widget-grid {
    width: 70%;
    margin: 30px 20px;

    background-color: $accent-secondary-color;
  }
}
.edit-box {
  margin-top: 50px;
  .edit-header {
    margin: 0 25px;
    text-align: start;
    color: $white-color;
  }
  .edit-item {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 25px;

    .edit-todo-text {
      border-color: $white-color;
      border-radius: 8px;
      padding: 10px;
      margin: 0px 5px;
      text-align: start;
      background-color: $white-color;
    }
    .todo-item-ok,
    .todo-item-cancel {
      border-radius: 8px;
      padding: 10px 15px;
      margin: 0px 5px;
      border-color: $white-color;
      color: $accent-secondary-color;
      background-color: $white-color;
    }
  }
}

@media only screen and (max-width: 769px) {
  .widget-wrapper {
    .widget-grid {
      width: 100%;
      margin: 5px 0px;
    }
  }
}
