@import "../index.scss";

.add-todo-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px;

  input {
    border: none;
  }
  button {
    border: none;
  }
  .todo-input {
    flex-grow: 5;
    border-radius: 8px 0px 0px 8px;
    margin-right: 5px;
    padding: 10px;
    text-align: start;
    background-color: $white-color;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px,
      rgba(0, 0, 0, 0.33) 0px 6px 6px;
  }
  .todo-btn {
    flex-grow: 1;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    margin-left: 5px;
    padding: 10px;
    font-size: 24px;
    color: $accent-secondary-color;
    background-color: $white-color;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px,
      rgba(0, 0, 0, 0.33) 0px 6px 6px;
    &:hover {
      background-color: $grey-color300;
    }
  }
}
